#displayer {
    position:fixed;
    top:0px;
    left:20px;
    z-index:10001
}
#carNumberDisplay {
    font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial;
    color: rgba(74,111,165,0.3);
    font-size: 5.8rem;
    margin-top:1rem;
}
div.dg.main.a {
    display:none
}
